    <div class="sidebar open">
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'></i>
          <div class="logo_name">Nome da escola</div>
          <i class='bx bx-menu' id="btn" ></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="{{URL}}/painel">
            <i class='bx bx-grid-alt'></i>
            <span class="links_name">Dashboard</span>
          </a>
           <span class="tooltip">Dashboard</span>
        </li>
        <li>
         <a href="{{URL}}/painel/notas">
           <i class='bx bx-user' ></i>
           <span class="links_name">Notas</span>
         </a>
         <span class="tooltip">Notas</span>
       </li>
       <li>
         <a href="#">
           <i class='bx bx-chat' ></i>
           <span class="links_name">Requerimento</span>
         </a>
         <span class="tooltip">Requerimento</span>
       </li>
       <li>
         <a href="#">
           <i class='bx bx-pie-chart-alt-2' ></i>
           <span class="links_name" style="font-size: 12px;">Atividades Complementares</span>
         </a>
         <span class="tooltip">Atividades Complementares</span>
       </li>
       <li>
         <a href="#">
           <i class='bx bx-folder' ></i>
           <span class="links_name">Documentos</span>
         </a>
         <span class="tooltip">Documentos</span>
       </li>
       <li>
         <a href="#">
           <i class='bx bx-cart-alt' ></i>
           <span class="links_name">Financeiro</span>
         </a>
         <span class="tooltip">Financeiro</span>
       </li>
       <li>
         <a href="#">
           <i class='bx bx-heart' ></i>
           <span class="links_name">Saved</span>
         </a>
         <span class="tooltip">Saved</span>
       </li>
       
       <li>
         <a href="#">
           <i class='bx bx-cog' ></i>
           <span class="links_name">Financeiro</span>
         </a>
         <span class="tooltip">Financeiro</span>
       </li>
       <li class="profile">
           <div class="profile-details">
             <div class="name_job">
               <div class="name">{{nome}}</div>
               <div class="job">Estudante</div>
             </div>
           </div>
           <a href="{{URL}}/logout"><i class='bx bx-log-out' id="log_out" ></i></a>
       </li>
      </ul>
    </div>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");
        closeBtn.addEventListener("click", ()=>{
          sidebar.classList.toggle("open");
          menuBtnChange();//calling the function(optional)
        });
        searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
          sidebar.classList.toggle("open");
          menuBtnChange(); //calling the function(optional)
        });
        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
         if(sidebar.classList.contains("open")){
           closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
         }else {
           closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
         }
        }
    </script>
    