<section class="home-section">
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Boletim</h1>            
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>                        
                        <th rowspan="2" colspan="4" style="text-align: center;">Disciplina</th>
                        <th colspan="2" style="font-size: 14px; text-align: center;">
                            <!-- Pridiocidade --> 
                            1º Etapa 
                        </th>
                        <th colspan="2" style="font-size: 14px; text-align: center;">
                            <!-- Pridiocidade --> 
                            2º Etapa 
                        </th>
                        <th rowspan="2" title="" style="text-align: center;">MA<span class="icon-arrow">&UpArrow;</span></th>
                        <!-- NE - Nota do Exame Final -->
                        <th rowspan="2" title="" style="text-align: center;">TA3<span class="icon-arrow">&UpArrow;</span></th>
                        <!-- NEE - Nota do Exame Final -->     
                        <!-- MF - Média Final -->
                        <th rowspan="2" title="" style="text-align: center;"> MF <span class="icon-arrow">&UpArrow;</span></th>
                        <th rowspan="2" title="" style="text-align: center;">
                            <!-- Siuação --> Sit. 
                            <span class="icon-arrow">&UpArrow;</span>
                        </th>
                    </tr>
                    <tr>
                        <!-- MD - Média Definitiva x -->
                        <th title="" style="text-align: center;"> TA1 <span class="icon-arrow">&UpArrow;</span></th>
                        <!-- F - Faltas x -->
                        <th title="" style="text-align: center;"> F1 <span class="icon-arrow">&UpArrow;</span></th>
                        <!-- MD - Média Definitiva x -->
                        <th title="" style="text-align: center;"> TA2 <span class="icon-arrow">&UpArrow;</span></th>
                        <!-- F - Faltas x -->
                        <th title="" style="text-align: center;"> F2 <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>                
                <tbody>
                    <tr>
                        <td rowspan="2" colspan="4"> Sistemas Operacionais </td>
                        <td rowspan="2">10</td>
                        <td rowspan="2">10</td>
                        <td rowspan="2">10</td>
                        <td rowspan="2">10</td>
                        <td rowspan="2">10</td>
                        <td rowspan="2">10</td>
                        <td rowspan="2">10</td>
                        <!-- delivered = verde -->
                        <!--  -->
                        <td rowspan="2"><p class="status delivered">Aprovado</p></td>
                    </tr>                   
                </tbody>
            </table>
        </section>
    </main>
 </section>